.spot-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.preview-image {
    width: 100%;
    max-width: 600px; 
    height: 600px;
    margin-bottom: 20px;
}

.preview-image img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-radius: 10px; 
}

.image-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-box img {
    width: 350px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 5px; 
}

.spot-name {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.details-section {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.spot-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 10px;
}

.spot-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid;
    padding: 10px; 
}



button {
    background-color: red;
    width: 70px;
    padding: 5px; 
    margin-top: 10px; 
    align-self: flex-start; 
}

.half-star {
    position: relative;
    width: 0.7em; 
    overflow: hidden;
  }
  
  .half-star::before {
    font-weight: 900;
    color: gold;
    position: absolute;
    left: 0;
    top: 0;
    width: 1em; 
  }