.spot-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-preview-image {
    width: auto;
    height: 100px;
}

.half-star {
    position: relative;
    width: 0.7em; 
    overflow: hidden;
  }
  
  .half-star::before {
    font-weight: 900;
    color: gold;
    position: absolute;
    left: 0;
    top: 0;
    width: 1em; 
  }