.user-container {
    margin: 10px;
    padding: 10px;
    
}

.button-group-update {
    display: flex;
    justify-content: center;
}

.update-button {
    cursor: pointer;
    margin: 5px;
    border-radius: 10%;
}

.update-button:hover {
    background-color: #007bff;
    color: white;
  }