.hidden {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Padding for content inside the nav */
    border-bottom: 2px solid #3c3a3a; /* Optional: Add a bottom border */
    position: sticky; /* Make the nav sticky */
    top: 0; /* Stick the nav to the top of the viewport */
    background-color: #edecec; /* Background color of the nav */
    z-index: 1000; /* Ensure it's above other content */
  }

.nav-icon {
    height: 50px;
}

ul {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin-left: 20px; /* Add some spacing between list items */
}

.menu-icon {
    cursor: pointer;
}